{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences for {{organismo}}{% endblock %}
{% block article %}
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            <input id="tags" class="ui-autocomplete-input text" onclick="this.value=''" placeholder="e.g. {{ organismo }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off">
            <a id="bigSearch" class="button orange" href="{{ path('list_species_id_organismo', {'id_organismo': 49788}) }}">Search</a>
        </div>
    </div>

    <div id="evidences">
        <h3>Evidences found for: {{ organismo }}</h3>
        <div class="btmspc-dbl">
            <small>
                <em>
                    Entity mentions are highlighted as follows:
                    <mark class="compound">Compounds</mark>
                    ,
                    <mark class="enzyme">Enzymes</mark>
                    and
                    <mark class="organism">Organisms</mark>
                </em>
                . Curated evidences are indicated by:
                <a class="curated" href="#"> </a>
            </small>
        </div>
        {% for evidenciaEntidad in evidenciasEntidades %}
            <div class="evidence">
                <p>
                    {{ evidenciaEntidad.getEvidenciaId.getTexto }}
                    <small>
                        {% set curated = evidenciaEntidad.getEvidenciaId.getCurated %}
                        {% set arrayPMID = evidenciaEntidad.getEvidenciaId.getCode|split('_') %}
                        [PMID:<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ arrayPMID[0] }}">{{ arrayPMID[0] }}</a>] &nbsp;
                        {% if curated == 0 %}
                            <a class="rgt-arw no-curated" href="{{ path('edit_evidence_organismo', {'id_organismo': id_organismo, 'id_evidencia':evidenciaEntidad.getEvidenciaId.getId}) }}">Curate</a>
                        {% else %}
                            <a class="rgt-arw curated" href="{{ path('edit_evidence_organismo', {'id_organismo': id_organismo, 'id_evidencia':evidenciaEntidad.getEvidenciaId.getId }) }}">Curate</a>

                        {% endif %}
                    </small>
                </p>
            </div>
        {% endfor %}
        <div class="pagination">
        <ul class="pagination">
            {% if paginador.currentPage > 1 %}
                <li class=""><a href="{{ path('list_species_id_organismo', { 'page': paginador.previousPage, 'id_organismo': id_organismo }) }}">previous</a></li>
            {% else %}
                <li class="disabled">previous</li>
            {% endif %}
            {% for page in paginador.minPageInRange..paginador.maxPageInRange %}
                {% if page == paginador.currentPage %}
                    <li class="current">{{ page }}</li>
                {% else %}
                    <li><a href="{{ path('list_species_id_organismo', { 'page': page, 'id_organismo': id_organismo }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if paginador.currentPage < paginador.lastPage %}
                <li><a href="{{ path('list_species_id_organismo', { 'page': paginador.nextPage, 'id_organismo': id_organismo }) }}">next</a></li>
            {% else %}
                <li>next</li>
            {% endif %}
        </ul>
    </div>
    {% block javascripts_footer %}
    <script>
    	$(function() {
            $( "#tags" ).autocomplete({
                source: "http://tebacten.bioinfo.cnio.es/wp-content/themes/reactions/scripts/autocomplete.php?searchfor=species",
                minLength:3,
        });
        });
    </script>
    {% endblock %}
{% endblock %}

