{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evidencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Curated</th>
                <td>{{ entity.curated }}</td>
            </tr>
            <tr>
                <th>Tipo de origen</th>
                <td>{{ entity.origen.tipo }}</td>
            </tr>
            <tr>
                <th>URL de origen</th>
                <td>{{ entity.origen.url }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Related Entities</h1>
    <table class="record_properties">
        <tbody>
            {% for evidenciaEntidad in evidenciasEntidades %}
                <tr>
                    <th>evidenciaEntidad</th>
                    <td>{{ evidenciaEntidad.entidad.nombre }} ({{ evidenciaEntidad.entidad.tipo }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


        <ul class="record_actions">
    <li>
        <a href="{{ path('evidencias_organismo_id', {'id_organismo': id_organismo}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evidencia_organismo_edit', { 'id_organismo': id_organismo, 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('evidencia_delete', { 'id_organismo': id_organismo, 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
